<footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}
	<li>
          <a href="https://github.com/{{ site.github_username }}">
	    <li class="fa fa-github"></li>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}
	<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
	    <li class="fa fa-twitter"></li>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
	{% if site.linkedin_username %}
	<li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
	    <li class="fa fa-linkedin"></li>
            <span class="username">{{ site.linkedin_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
